*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    background-color: #fbfcfa;
}
.header{
    background-color: #1d075a;
    text-align: center;
    padding: 2em 0;
}
.header h2{
    color: #e2fd69;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.05em;
}
.header h3{
    color: #f881ee;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
}
p {
    width: 90%;
    max-width: 500px;
    margin: 1.5em auto;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: #9e2046;
}
a {
    font-size: 1.2em;
    display: block;
    max-width: 500px;
    text-align: center;
    text-decoration: none;
    padding: 0.8em 0;
    border-radius: 0.3em;
}
.container a {
    background: #5dee31;
    color: #0c0c0c;
    width: 90%;
    -webkit-box-shadow: 0 0.6em #0e532b;
            box-shadow: 0 0.6em #0e532b;
    margin: 1.1em auto;
}
#website-link {
    width: 95%;
    background-color: #eebc31;
    color: #001337;
    margin: 2em auto;
    -webkit-box-shadow: 0 0.6em #9a791e;
            box-shadow: 0 0.6em #9a791e;
}
a:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0.6em);
        -ms-transform: translateY(0.6em);
            transform: translateY(0.6em);
}
@media screen and (max-width: 500px) {
    body {
        font-size: 14px ;
    }
}

